<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serilog:minimum-level" value="Warning"/>
		<add key="serilog:using:File" value="Serilog.Sinks.File"/>
		<add key="serilog:write-to:File.path" value="Logs/yatzy.log"/>
		<add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level:u3}] ({Type}) {Message:lj}{NewLine}{Exception}"/>
		<add key="serilog:write-to:File.rollingInterval" value="Day"/>
	</appSettings>
</configuration>